<head>
    <meta charset="UTF-8">
    <title>Farol - Repositório de Provas e Trabalhos</title>

    <link rel="stylesheet" href="/css/style.min.css">
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/sweetalert/dist/sweetalert.css">
    <meta name="description" content="Farol - Repositório de provas e trabalhos dos cursos de Informática Biomédica e Ciência da Computação da UFPR">
    <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/css/awesomplete.css">
    <script src="/js/awesomplete.min.js"></script>
</head>
